* {
  box-sizing: border-box;
  margin: auto;
}

.container {
  max-width: 1000px;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.bg-color {
  background-color: hsl(212deg 45% 89%);
}

.flex-wrap {
  flex-wrap: wrap;
}

.font {
  font-family: Outfit, sans-serif;
}

.align-content-center {
  align-items: center;
  justify-content: center;
}

.hero-image {
  max-width: 200px;
}

.card {
  background-color: hsl(0deg 0% 100%);
  border-radius: 20px;
  max-width: 250px;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  text-align: center;
}
